<aside class="aside menu">
  <div>
    <label class="aside_toggle toggle" title='{{ T "docs_menu" }}' role="button">{{ T "docs_menu" }} {{ partial "sprite" (dict "icon" "harmburger") }}</label>
  </div>

  {{ $autogendocs := .Site.GetPage "/autogendocs" }}
  {{ $docs := .Site.GetPage "/docs" }}

  <section class="section aside_inner">
    {{ partial "sidebar-item" (dict "context" . "section" $docs) }}
    {{ partial "sidebar-item" (dict "context" . "section" $autogendocs) }}
  </section>
</aside>