{{ $context := .context }}
{{ $section := .section }}

{{ $inSection := (or (eq .context.RelPermalink $section.RelPermalink) (.section.InSection .context.FirstSection)) }}

<details {{ if $inSection }} open {{ end }}>
  <summary class="section_title{{ if eq .context.RelPermalink $section.RelPermalink }} active{{ end }}"><a  href="{{ $section.Permalink }}" class="group">{{ $section.Title }}</a></summary>
  
  {{ with $pages := $section.Pages }}
    {{ range $pages }}
    {{ $currentPage := eq $context.RelPermalink .RelPermalink }}
    <details style="margin-left: 10px;" {{ if $currentPage }} open {{ end }}>
      <summary class="section_link {{ if $currentPage }} active {{ end }}"><a id="docs-{{ anchorize .Title }}" href="{{ .Permalink }}">{{ .Title }}</a></summary>
      {{ .TableOfContents }}
    </details>
    {{ end }}
  {{ end }}
</details>