{{/* ignore empty links with + */}}
{{ $headers := findRE "<h[2-4].*?>(.|\n])+?</h[2-4]>" .Content }}
{{ .Scratch.Set "last_level" 1 }}

{{/* at least one header to link to */}}
{{ $has_headers := ge (len $headers) 1 }}
{{ if $has_headers }}
<nav class="toc">
{{ range $headers }}
  {{ $header := . }}
    {{ $base := ($.Page.File.LogicalName) }}
    {{ $anchorId := ($header | plainify | htmlUnescape | anchorize) }}
    {{ $href := delimit (slice $base $anchorId) "#" | string }}
    {{ range findRE "[2-4]" . 1 }}
      {{ $next_heading := (int .) }}
      {{ if gt $next_heading ($.Scratch.Get "last_level") }}
        <ul>
      {{ else if lt $next_heading ($.Scratch.Get "last_level") }}
        </ul>
      {{ end }}
      <li class="toc_item"><a class="toc_link" href="{{ relref $.Page $href }}">{{ $header | plainify | htmlUnescape }}</a></li>
      {{ $.Scratch.Set "last_level" $next_heading }}
    {{ end }}
  {{ end }}
{{ end }}
</nav>